public function get{{ methodName }}(): {{ nullable }}bool
{
    return $this->{{ propertyName }};
}

public function set{{ methodName }}({{ nullable }}bool ${{ propertyName }}): {{ section }}
{
    $this->{{ propertyName }} = ${{ propertyName }};
    return $this;
}
