public function get{{ methodName }}(): {{ nullable }}int
{
    return $this->{{ propertyName }};
}

public function set{{ methodName }}({{ nullable }}int ${{ propertyName }}): {{ section }}
{
    $this->{{ propertyName }} = ${{ propertyName }};
    return $this;
}
